@import url("https://use.typekit.net/ukj3zgt.css");

html {
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing:inherit
}

.rose{
    background-color: #51775D;
    margin:0px;
    padding:0px;
    justify-items: center;
}

h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Roboto", sans-serif;
    text-align: center;
    letter-spacing: -5px;
    font-size: 46px;
    margin: 0px;
    margin-right:28px;
    padding-top:30px;
    padding-bottom:30px;
}

H2{
    font-family: "larken", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#FCB9CC;
    padding:0px;
    margin:0px;
    text-align: center;
}

p{
    font-family: "larken", sans-serif;
    font-size: 16px;
    color:#FFFFEE;
    text-align: center;
}

img{
    max-width: 400px;
    max-height: 400px;
    justify-items: center;
}

a{
    border: none;
    text-decoration: none;
}


.image {
    display: block;
    height: auto;
    animation: wiggle 5.0s ease infinite; 
      }

.image-container{
      display: inline-block;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
  }

.button{
    padding: 5px 10px;
    margin-top:20px;
    margin-bottom: 20px;
    display:block;
    text-align: center;
    background-color: #51775D;
    border: 3px solid #FCB9CC;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.5s ease; 
}

.button:hover {
    background-color: #FFFFEE; 
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 123, 84, 0.9); 
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }

   .overlay-content {
    text-align: center;
    color: white;
    margin: 0 auto;
   }
  
  .overlay p {
    font-size: 16px;
    max-width:500px;
    text-align: justify;
  }
  
  .overlay button {
    margin-top:50px;
    padding: 5px 10px;
    background-color: #51775D;
    border: 3px solid #FCB9CC;
    border-radius: 5px;
    font-family: "larken", sans-serif;
    font-size: 20px;
    color:#FCB9CC;
    text-align: center;
  }
  
  .overlay button:hover {
    background-color: #FFFFEE; 
  }

.arrow-button{
position: absolute; /* Allows placement using top/left/right/bottom */
  top: 320px; /* Y-coordinate */
  left: 1100px; /* X-coordinate */
  font-size: 80px;
  padding: 10px 20px;
  background:none;
  color: #FCB9CC;
  border: none;
}

.arrow-button:hover{
      color: #FFFFEE;
    }