html {
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing:inherit
}

body {
    color: pink;
    background-color:gray;
    text-align: center;
}

h1{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.grid{
    background-color:white;
    display: flex;
}

.cloud-link{
    background: red;
    border-radius: 50%;
    opacity:.8;
    position:fixed;
    top: 10px;
    left:10px;
    
}

a{
    color:aquamarine;
    displaY: block;
    font-size:32px;
    margin: 20px;
}