html {
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing:inherit
}

body {
    border: 2px solid pink; 
    background-color: seashell;
}

div {
    border: 2px solid pink;
    background-color:#585623

}

p {
    border: 2px solid pink; 
    color: coral;
    margin-bottom: 50px;
    padding: 10px 30px;

}

sup {border: 2px solid pink; 
}

button {
    border: 2px solid pink;
    font-size: 32px; 
    
}