

html {
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing:inherit
}

body{
    background-color: #51775D;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

.content{
    max-width: 800px;
    display:grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-template-rows: repeat(4, 1fr);   
    column-gap: 10px;       
    row-gap: 10px;                /* Space between items */
    justify-content: center; 
    align-items: center; 
    height: 100vh;    
    margin:auto;
    padding:0px  
}

h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Roboto", sans-serif;
    text-align: center;
    letter-spacing: -5px;
    font-size: 46px;
    margin: 0px;
    margin-right:28px;
    padding-top:30px;
    padding-bottom:30px;
}

img {
    max-width: 170px;
    max-height: 170px;
    margin:0px;
    padding:0px;
}

